{
  "project_info": {
    "project_number": "000000000000",
    "firebase_url": "https://teeup-example-default-rtdb.firebaseio.com",
    "project_id": "teeup-example",
    "storage_bucket": "teeup-example.firebasestorage.app"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:000000000000:android:0000000000000000000000",
        "android_client_info": {
          "package_name": "com.teeup.android"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "AIzaSyExampleExampleExampleExampleExampl"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
